$grey: #555b6e;
$dark-blue: #89b0ae;
$light-blue: #bee3db;
$white: #faf9f9;
$orange: #ffd6ba;

.info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-right: 5px solid $grey;

  .info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    color: $grey;

        font-family: raisonne;

        .info-pair {
          display: flex;
          flex-direction: row;

          .material-icons {
            font-size: 3vw;
          }


          h4 {
            font-size: 3vw;
          }
        }

      }
          .edit {

            .edit-button {
              background-color: $light-blue;
              font-family: raisonne;
              height: 8vh;
              color: $grey;
              border: none;
            }


            .material-icons {
              font-size: 2rem;
            }
          }
}

