$grey: #555b6e;
$dark-blue: #89b0ae;
$light-blue: #bee3db;
$white: #faf9f9;
$orange: #ffd6ba;
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 544px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

.profile-container {
  padding: 0 !important;
  text-align: center;
  font-family: raisonne;
  color: $white;
  background: $grey;

  @include lg {
    padding-left: 5rem !important;
  }

  @include md {
    padding-left: 4rem !important;
  }

  .border-bottom {
    border-bottom: 5px solid $white !important;
    margin-bottom: 3vh;
    height: 20vh;
  }

  .logout-button {
    background-color: $light-blue;
    border-color: $light-blue;
    color: $grey;
  }

  .logout-button:hover,
  .logout-button:active,
  .logout-button:focus,
  .logout-button {
    background-color: $light-blue !important;
    border-color: $light-blue !important;
    color: $grey !important;
  }

  .hero-image {
    height: 30vh;

    @include lg {
      height: 35vh;
    }

    @include xl {
      height: 40vh;
    }
  }

  .profile-info {
    height: 30vh;
  }

  .profile-pic {
    margin-top: -30vh;
    height: 45vh;

    .selfie {
      height: 30vw;
      width: 30vw;
      border: 5px solid $white;
    }
  }

  .map-outside {
    border: 5px solid $dark-blue;
    height: 40vh;
    width: 50vw;
  }

  .new-trip {
    display: flex;
    flex-direction: row;
    height: 9vh;
    border: 5px solid $light-blue;
    margin-top: 15vh;

    &:hover {
      transform: scale(1.05);
      cursor: pointer;
    }

    .material-icons {
      font-size: 4vw;
      margin-left: 1vw;
      margin-top: 1vh;
    }
  }

  .show-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
    height: 65%;
  }



  .past-trips {}
}

.trip-btn-group {
  display: flex;
  justify-content: space-between;
  width: 40%;
}