$grey: #555b6e;
$dark-blue: #89b0ae;
$light-blue: #bee3db;
$white: #faf9f9;
$orange: #ffd6ba;
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 544px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
      @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
      @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
      @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
      @content;
  }
}

@mixin rwd($screen) {
  @media (min-width: $screen+'px') {
      @content;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (-o-min-device-pixel-ratio: 3/2),
  only screen and (min--moz-device-pixel-ratio: 1.5),
  only screen and (min-device-pixel-ratio: 1.5) {
  html,
  body {
    width: 100%;
    overflow-x: hidden;
  }
}

.home-container {
  font-family: raisonne;
  color: $grey;

  .hero {
    padding: 0;
    height: 60vh;
    background: $light-blue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .login-home {
      height: 0vh;
      font-size: 1.5rem;

      button {
        background-color: transparent;
        border: none;
        color: $grey;
        z-index: 10;
        position: absolute;
      }
    }

    .logo {
      height: 8vh;

      @include md {
        height: 12vh;
      }

      @include lg {
        height: 15vh;
      }

      padding: 0;
    }

    .display-1 {

      @include sm {
        font-size: 8rem;
      }


      @include md {
        font-size: 10rem;
      }

      @include lg {
        font-size: 12rem;
      }

      @include xl {
        font-size: 15rem;
      }

    }

    .quiz-button {
      background: $orange;
      border-radius: 0px;
      border: 0px;
      width: 100%;
      color: $grey;
      height: 8vh;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      font-size: 2vw;
      align-items: center;

      color: .15s ease-in-out;
      background-color: .15s ease-in-out;
      border-color: .15s ease-in-out;
      box-shadow: .15s ease-in-out;
      box-shadow: none;

      a {
        color: inherit;
        text-decoration: none;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        font-size: 2vw;
        align-items: center;
      }

      p {
        margin-top: 2vh;
      }
      .material-icons {
        font-size: 3vw;
      }

    }

    .quiz-button:hover {
      background-color: $grey;
      color: white;
      border-color: white;
      box-shadow: none;
    }

    .quiz-button:active {
      background-color: $grey;
      color: white;
      border-color: white;
      box-shadow: none;
    }
  }

  .photos {
    height: 90vh;
    background: $dark-blue;

    .sign-button {
      background: $light-blue;
      border-radius: 0px;
      border: 0px;
      width: 100%;
      color: $grey;
      height: 8vh;


      color: .15s ease-in-out;
      background-color: .15s ease-in-out;
      border-color: .15s ease-in-out;
      box-shadow: .15s ease-in-out;
      box-shadow: none;

      a {
        color: inherit;
        text-decoration: none;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        font-size: 2vw;
        align-items: center;
      }

      p {
        margin-top: 2vh;
      }
      .material-icons {
        font-size: 3vw;
      }
    }

    .sign-button:hover {
      background-color: $grey;
      color: white;
      border-color: white;
      box-shadow: none;
    }

    .sign-button:focus {
      background-color: $grey;
      color: white;
      border-color: white;
      box-shadow: none;
    }

    .photo-container {
      background: $orange;
      height: 60vh;
      margin-top: 5vh;
      box-shadow: inset 0 0 0.5vw $grey;

      img {
        height: 40vh;
        width: 35vw;
        margin-left: 2vw;
        margin-top: 5vh;
        box-shadow: inset 0 0 0  $grey;
      }

      img:hover {
        box-shadow: inset 0 0 1.6vw $grey;
      }
    }

    .photo-labels {
      height: 0px;
      margin-top: -3.75vh;
      text-align: center;

      h2 {
        font-size: 3rem;
      }
    }
  }

  .discover {
    background-color: $orange;
    height: 80vh;
    text-align: center;

    @include md {
      height: 120vh;
    }

    .vid-container {
      background-color: $dark-blue;
      height: 50vw;
      padding-top: 3vh;
    }
  }
}
