$grey: #555b6e;
$dark-blue: #89b0ae;
$light-blue: #bee3db;
$white: #faf9f9;
$orange: #ffd6ba;

$bp-tablet: 768px;
$bp-desktop: 1024px;

@mixin tablet {
  @media (min-width: #{$bp-tablet}) and (max-width: #{$bp-desktop - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$bp-desktop}) {
    @content;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (-o-min-device-pixel-ratio: 3/2),
  only screen and (min--moz-device-pixel-ratio: 1.5),
  only screen and (min-device-pixel-ratio: 1.5) {
  html,
  body {
    width: 100%;
    overflow-x: hidden;
  }
}

body {
  background-color: $light-blue;
}

.header {
  height: 6vh;
  width: 100%;
  padding-bottom: 1vh;

  background-color: $grey;
  text-align: center;
  color: $white;
  font-size: 2rem;
  font-family: raisonne;

  -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);

  .logo {
    height: 8vh;
  }

  .home {
    text-decoration: none;
    color: white;
  }
}

.start-quiz {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: url("./assets/hero-large.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  height: 45vh;
  width: 100%;

  color: $grey;
  font-family: raisonne;
  font-size: 2rem;

  @include tablet {
    background-image: url("./assets/hero-large.jpg");
  }

  @include desktop {
    background-image: url("./assets/hero-large.jpg");
  }

  .new-title {
    padding-top: 52vh;
    color: $grey;
    z-index: -1;
  }

  .start-button {
    height: 8vh;
    width: 30vw;

    margin-top: 8vh;

    background-color: $orange;

    border: 1px solid $white;
    border-radius: 15px;

    color: $grey;
    font-family: raisonne;
  }
}

.returning {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  padding-top: 10vh;
  margin-top: 25vh;
  height: 13vh;
  width: 100%;

  background-color: $dark-blue;

  color: $grey;
  font-size: 1.3rem;
  font-family: raisonne;

  .returning-button {
    background-color: transparent;

    border: none;

    font-family: raisonne;
    font-size: 1.3rem;
    color: $white;
  }
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 50vh;
  width: 100%;

  background-image: url("./assets/hero-small.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  color: $grey;
  font-family: raisonne;

  .input-container {
    position: fixed;
    z-index: 1;
    top: 45vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;

    .input {
      margin: 1vh;
      padding: 2vh;

      border-radius: 15px;
      border: $white;
    }

    .log-button {
      height: 8vh;
      width: 30vw;

      margin-top: 5vh;

      background-color: $orange;

      border: 1px solid $white;
      border-radius: 15px;

      color: $grey;
      font-family: raisonne;
    }
  }
}

.quiz {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100vh;

  background-color: $light-blue;

  font-family: raisonne;
  color: $grey;

  .quiz-underline {
    height: 0;
    width: 80%;

    margin-bottom: 2vh;

    border: 1px solid $grey;
  }

  .quiz-header {
    padding: 1vh;
  }

  .question {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;

    position: relative;
    overflow: hidden;
    width: 100%;

    .answer-box {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      width: 80%;

      .sample-box {
        height: 20vh;
        width: 35vw;

        margin: 1vh;

        background-color: transparent;
        border: 1px solid $grey;
      }
    }
  }

  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    margin-top: 2vh;

    width: 35vw;

    font-size: 2rem;

    p {
      margin: 0;
    }
  }

  .get-results-button {
    height: 8vh;
    width: 30vw;

    margin-top: 3vh;

    background-color: $orange;

    border: 1px solid $white;
    border-radius: 15px;

    color: $grey;
    font-family: raisonne;
  }
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: $grey;
  font-family: raisonne;

  .pictures {
    position: fixed;

    .info {
      position: fixed;
      z-index: 2;
      color: white;
      padding: 1vw;
      font-family: raisonne;
    }

    .edit {
      position: fixed;
      float: right;
      z-index: 2;
      left: 75%;

      button {
        background-color: transparent;
        color: $white;
        font-family: raisonne;
        border: 2px solid $white;
        border-radius: 15px;
        margin-top: 2vh;
      }
    }

    .background {
      position: relative;
      height: 30vh;
      width: 100vw;
      filter: brightness(75%);
    }

    .selfie {
      height: 20vh;
      width: 40vw;
      border-radius: 50%;
      position: relative;
      transform: translate(30vw, -10vh);
      border: 5px solid $light-blue;
    }
  }

  .trips {
    width: 100vw;
    padding-left: 5vw;
    margin-top: 43vh;

    .new {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 30vw;
    }

    .upcoming {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 50vw;

      .up-inner {
        display: flex;
        flex-direction: row;
      }
    }

    .past {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 50vw;

      .past-inner {
        display: flex;
        flex-direction: row;
      }
    }
  }
}
