$grey: #555b6e;
$dark-green: #89b0ae;
$light-green: #bee3db;
$white: #faf9f9;
$orange: #ffd6ba;

.header {
  padding: 0.5rem;
  background-color: $grey;
  height: 6vh;
  width: 100%;
  font-family: raisonne;
  font-size: 2rem;
  color: $light-green;
}

.login {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $light-green;
  color: $grey;
  font-family: raisonne;

  .heading {
    margin-top: 5rem;
  }

  .input {
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 15px;
    border: $white;
  }

  .log-button {
    margin-top: 10vh;
    background-color: $orange;
    height: 8vh;
    width: 30vw;
    border: 1px solid $white;
    border-radius: 15px;
    color: $grey;
    font-family: raisonne;
  }
}

.start-quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $light-green;
  color: $grey;
  padding-top: 15vh;
  font-family: raisonne;
  font-size: 2rem;
  height: 40vh;
  width: 100%;

  .start-button {
    margin-top: 10vh;
    background-color: $orange;
    height: 8vh;
    width: 30vw;
    border: 1px solid $white;
    border-radius: 15px;
    color: $grey;
    font-family: raisonne;
  }
}

.returning {
  height: 40vh;
  background-color: $dark-green;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: raisonne;
  color: $grey;
  padding-top: 10vh;
  font-size: 1.3rem;

  .returning-button {
    background-color: transparent;
    border: none;
    margin-top: 5vh;
    font-family: raisonne;
    color: $white;
    font-size: 1.3rem;
  }
}

.quiz {
  font-family: raisonne;
  color: $grey;
  height: 100vh;
  background-color: $light-green;
  display: flex;
  flex-direction: column;
  align-items: center;

  .quiz-underline {
    height: 0;
    width: 80%;
    border: 1px solid $grey;
    margin-bottom: 5vh;
  }

  .quiz-header {
    padding: 1rem;
  }

  .answer-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;

    .sample-box {
      height: 20vh;
      width: 35vw;
      background-color: transparent;
      border: 1px solid $grey;
      margin: 0.5rem;
    }
  }

  .get-results-button {
    margin-top: 3vh;
    background-color: $orange;
    height: 8vh;
    width: 30vw;
    border: 1px solid $white;
    border-radius: 15px;
    color: $grey;
    font-family: raisonne;
  }
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $light-green;
  color: $grey;
  height: 100vh;
}
